.info-tile__link {
  outline: none;
  text-decoration: none;
  color: var(--purple);
}

.info-tile__top-container {
  margin: 2vh;
}

.info-tile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 30vh;
  height: 30vh;
  border: solid 1px var(--dark-gray);
  border-radius: 10px;
  margin: 0;
  outline: none;
}

.info-tile__container:hover {
  background-color: var(--light-purple);
  transform: scale(1.1);
}

.info-tile__image {
  width: 20vh;
  height: 20vh;
}

.info-tile__label {
  text-align: center;
}
