.hangman__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hangman__letters {
  max-height: 40%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.hangman__letters-info {
  margin-bottom: 1%;
}

.hangman__body {
  height: 100%;
  width: 95%;
  display: flex;
  align-items: center;
}

.hangman__output-div,
.hangman__input-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hangman__output-div {
  border-left: 1px solid var(--purple);
  width: 33vw;
}

.hangman__input-div {
  padding-right: 3vw;
  width: 70vw;
}

.hangman__input-text-div {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hangman__input-text-length-div {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hangman__commands {
  height: 10vh;
  width: 90%;
  margin: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hangman__output-best-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.hangman__output-best-letter-text {
  margin: 0;
}

.hangman__outpust-best-letter-letter {
  font-family: var(--special-font);
}

.hangman__language-chooser {
  height: 100%;
  width: 25%;
  margin-right: 5%;
}
