.image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60%;
  height: 100%;
  width: 100%;
  cursor: default;
}

.image-hint {
  visibility: hidden;
}

.image-hint--visible {
  visibility: visible;
  cursor: pointer;
}

.image--clickable {
  cursor: pointer;
}
