.morse-test-viewer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.morse-test-viewer__question-flash-card {
  margin: auto;
}

.morse-test-viewer__easy-mode-answers,
.morse-test-viewer__hard-mode-answers {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.morse-test-viewer__hard-mode-answers{
  width: 100%;
}

.morse-test-viewer__easy-mode-answers{
  width: 60%;
}

.morse-test-viewer__score-text {
  margin: 0;
}
