:root {
  --transparent: rgba(repeat(4, 0));
  --black: #212121;
  --blue: #00b0ff;
  --dark-blue: #661fff;
  --dark-gray: #757575;
  --error: #d50000;
  --gray: #e0e0e0;
  --green: #81c784;
  --light-blue: #80d8ff;
  --light-error: #ef9a9a;
  --light-green: #c8e6c9;
  --light-gray: #eeeeee;
  --light-light-blue: #bbdefb;
  --light-light-orange: #ffe0b2;
  --light-light-light-blue: #e3f2fd;
  --light-orange: #ffd180;
  --light-red: #ffcdd2;
  --purple: #4a148c;
  --orange: #ff9100;
  --red: #e57373;
  --white: #fafafa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
