.tic-tac-toe__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tic-tac-toe__board {
  width: 50vh;
  height: 50vh;
  margin-top: 5vh;
  padding-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tic-tac-toe__restart-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
